ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

li.user {
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 2rem;
  line-height: 50px;
  vertical-align: middle;
  border: 1px solid #2d2d2d;
  border-radius: 5px;
  padding: 1rem;
}

li.user:hover > img {
  transform: scale(1.1);
  transition: transform 0.3s;
}

img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  vertical-align: middle;
  transition: transform 0.3s;
}

.user > span {
  vertical-align: middle;
  margin-left: 2rem;
}
